body {
    text-align: center;
    margin: auto;
    background-image: url("../images/TommyBoy.JPG");
    background-size: 25% auto;
}

header {
    letter-spacing: 4px;
    color: rgb(79, 6, 88);
    text-shadow: 3px 3px 3px black;
    position: fixed;
    top: 0px;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    border-radius: 15px;
    width: 100%;
}
#time-remaining {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}
.question {
    margin: auto;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    font-size: 33px;
    font-weight: regular;
    color: rgb(62, 9, 92);
}
h1 {
    padding: 0px;
    margin: 10px;
    font-family: 'Fredoka One', cursive;
    
}
.button {
    letter-spacing: 2px;
    font-family: 'Fredoka One', cursive;
    color: rgb(12, 12, 12);
    font-size: 28px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
#done-button {
    margin: 0px 0px 60px 0px;
    color: rgb(94, 11, 150);
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}
#start-button {
    margin: 0px 0px 40px 0px;
    color: rgb(94, 11, 150);
    
}
#restart-button {
    letter-spacing: 2px;
    font-family: 'Fredoka One', cursive;
    color: rgb(94, 11, 150);
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    border-bottom: grey solid 2px;
    border-right: grey solid 2px;
}
form {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    color: rgb(15, 15, 15);
    font-size: 30px;
}